#expect {
    min-height: 120vh;

}

#expect-container {
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    /* flex-direction: column; */
    background-color: #f1f1f1  ;
    /* background: rgba(0,0,0,0.45);-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);border: 1px solid rgba(0,0,0,0.225); */

}

#expect-container ul li {
    text-align: left;
    line-height: 35px;
}

.left {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* background-color: #7c73e6; */
    width: calc(50vw);
    height: calc(130vh);
}

.right {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: calc(50vw);
    height: calc(130vh);
    /* background: rgba(255,255,255,0.1);-webkit-backdrop-filter: blur(10px);backdrop-filter: blur(10px);border: 1px solid rgba(255,255,255,0.05); */
}


hr {
    width: 300px;
    margin: 10px 0;
}

input {
    width: 296px;
    height: 40px;
    border-radius: 4px;
    border: 0.1px;
    margin-bottom: 5px;
    background-color: #f1f1f1;
    border: 0.5px solid #8109b7;
}

input::placeholder {
    text-align:left;
    padding-left: 15px;
}


fieldset span {
    display: flex;
}

#first-name,
#last-name {
    width: 146px;
}

#number {
    width: 195px;
}

#zip {
    width: 96px;
}

#fields-required {
    margin-top: 20px;
    font-size: small;
    color:#9b8e8e;
} 


.left #support {
    margin-top: 50px;
}

#fields {
    margin-top: 20px;
    width: 350px;
    /* background: rgba(255,255,255,0.1);-webkit-backdrop-filter: blur(10px);backdrop-filter: blur(10px);border: 1px solid rgba(255,255,255,0.05); */
    background-color: #fff;
    box-shadow: 0px 5px 10px rgb(209, 202, 202);
    padding: 0px 20px 20px 20px;
    border-radius: 10px;

}


@media screen and (max-width: 900px) {
    #expect {
        min-height: 180vh;
        /* min-width: 400px; */
    }
    #expect-container {
        /* min-width: 400px; */
        flex-direction: column;
        min-height: 180vh;
    }

    #expect-container ul li {
        line-height: 25px;
    }

    .left {
        /* background-color: red; */
        margin: 0;
        width: 100%;
        height: 100vh;
    }

    .right {
        /* background-color: #8109b7; */
        width: 100%;
        height: 100vh;
    }
}

@media screen and (max-width: 400px) {
    #expect {
        min-height: 210vh;
    }
    #expect-container {
        height: 190vh;
    }
    input {
        width: 200px;
    }
    hr {
        width: 200px;
    }
    #fields {
        width: 250px;

    }
    #first-name,
    #last-name {
        width: 98px;
    }

    #number {
        width: 138px;
    }

    #zip {
        width: 60px;
    }
    .left {
        background-color: #0c1845;

        /* background-color: red; */
        margin: 0;
        width: 100%;
        min-height: 90vh;
        
        

    }

    .left h1 {
        color: #fff;
    }

    .left p ,
    .left li{
        color: #c2c4cd;
    }

    .right {
        /* background-color: #8109b7; */
        width: 100%;
        min-height: 90vh;
    }
    }

    @media screen and (max-width: 399px) {
        .left {
            height: fit-content;
        }
        #expect-container {
            height: fit-content;
        }
    }